<header class="max-w-[47rem]">
  <hgroup class="flex flex-col gap-4">
    <h1 class="flex justify-center">
      <span role="banner">
        <slot name="logo" />
      </span>
    </h1>
    <slot name="copy" />
  </hgroup>
</header>
